body {
    background: #f1f1f9;
}

.wrapper {
    width: 300px;
    text-align: center;
}

.changeTitleBtn {
    width: 200px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background: rgb(225, 193, 34);
    cursor: pointer;
}